body{margin:0px;}
#nav a{
	margin-left: 20px;
	font-size: 16px;
	color: black;
	font-family:;
}
#nav{
	width:98%;
	height:10%;
	margin:20px;
}
#nav p{
	float:right;
}
#nav a.product{
	background: #3B88FA;
	padding: 5px;
	text-decoration: none;
	color: white;
	font-weight:normal;
}
.baidu_img{
	margin-top:0px;
	height:40%;
	
	margin:20px;
}
.font_1{
	height:10%;
	text-align:center;
	text-decoration:underline;
	letter-spacing:7px;
}
.txt{
	width:470px;
	height:38px;
}
.en_txt{
	width:70px;
	height:38px;
}
.button1{
	 width:100px;
   height:40px;
   color:#fff;
   font-size:16px;
   letter-spacing:1px;
   background-color:#00c; 
}
body .bottom1{
	
	margin-top:100px;
	
}
.photo_imgs{
	float:left;
	margin-left:100px;
	margin-right:100px;
	
}
.font_2{
	margin-left:100px;
	color:#bbb9b6;
}




