<html>
<head>
<title>中医实体关系抽取</title>
<link href="static/中医实体关系抽取.css" type="text/css" rel="stylesheet"/>
</head>
<body>
<div id="nav">
<p>
		<!--a href="#">糯米</a>
		<a href="#">新闻</a>
		<a href="#">hao123</a>
		<a href="#">地图</a>
		<a href="#">视频</a>
		<a href="#">贴吧</a>
		<a href="#">登录</a>
		<a href="#">设置</a>
		<a href="#" class="product">更多产品</a-->
</p>
</div>
<!-- 图片和输入框-->
<div  align="center" class="baidu_img">
<div>
<img src="static/images/main_p.png">
	<br/>
	<br/>
</div>
<div>
<form action="count">
	<!--input type="text" class="txt" /-->
	<textarea name='en1' class="en_txt" >输入实体1</textarea>
	<textarea name='en2' class="en_txt" >输入实体2</textarea>
	<textarea name='text' class="txt" >句子</textarea>
	<br>
	<input type="submit" class="button1" value="识别" />
</form>
</div>
</div>
<div class="font_1">
<font color="#bbb9b6">text1</font>
</div>
<!--底部导航栏-->
<div class="bottom1">
<div class="photo_imgs">
<!--img src="images1/pic2.jpg"/>
<img src="images1/pic2.jpg"/-->
</div>
<div class="font_2">
<!--a href="#">把百度设为主页</a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<a href="#">关于百度</a>       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<a href="#">About Baidu</a><br/-->
&copy;
2019中医实体关系抽取
<a href="about">关于本页</a><br/>
京公网安备11000002000001号
</div>
</div>
</body>
</html>